.navbar{
    width: 80%;
    margin: auto;
  }
  
  .navbar ul {

    display: inline-flex;
    align-items: center;

    width: 100%;
    padding: 1rem;
    
    list-style-type: none;
  } 
  
  .navbar ul :last-child {
    
    display: inline-flex;
    margin-left: auto;
  }
  
  .navbar ul li {
    display: inline;

    padding: 0 1rem;
    margin: 0.5rem;
    
    border-radius: 1rem;
    
  }

  .navbar ul li a {
    color: inherit;
  }
  
  .navbar ul li:hover {
   background-color: rgba(0,0,0,0.1);
    
  }

  @media only screen and (max-width: 600px) {
    .navbar{
        width: 100%;
        padding: 0;
      }
      .navbar ul {
        /* padding: 1rem; */
        list-style-type: none;
           
    }

    .navbar ul li {
        padding: 0 0.5rem;
        text-align: center;
      }
      
  }
  